@import '../../utils/baseVar.scss';  // $homeAll

#home{
    // 主体
    &>.homeMain{
        // 隐藏滚动条ios
        -webkit-overflow-scrolling: touch;
        // padding-bottom等于20px并非固定值，只要你的设置的值大小足够将滚动条挤出可视区域即可
        padding-bottom: 0.185185rem;
        
        margin-top: -2.777778rem;
        z-index: 1;
        padding-top: 2.777778rem;
        flex: 1;
        overflow-y: auto;
        ul {
            height: 100%;
            width: 100%;
            padding-top: 0.38rem;
            // padding-bottom: 0.277778rem;
            box-sizing: border-box;
            li {
                height: 33.33%;
                width: 100%;
                position: relative;
                img {
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    height: 100%;
                    width: 100%;
                    transform: translate(-50%,-50%);
                    padding: 0.1rem 0.22rem;
                    box-sizing: border-box;
                }
            }
        }
    }
    .homeMain::-webkit-scrollbar {
        -webkit-overflow-scrolling: touch;
        display: none;
    }
}
#home{
    background: $home no-repeat;
    background-size: 100% 100%;
    @include flexbox();
    @include direction(column);
    overflow-x: hidden;
    overflow-y: auto;
    
    height: 100%;
    width: 100%;
    position: fixed;
    left:0;
    top:0;
    // 头部 
    header {
        // height: 4.24rem;
        height: 2.777778rem;
        background: rgba(0,0,0,0.21);
        z-index: 3;
        &>div:first-child{
            // height: 1.64rem;
            margin-bottom: .16rem;
        }
        .hei {
            height: 0.8rem;
            width: 100%;
            background: #222;
        }
        
        .gb {
            width: 100%;
            height: 0.537037rem;
            &>p {
                overflow:hidden;
                margin-left: 0.240741rem;
                @include border-radius(0.925926rem);
                width: 60%;
                height: 0.537037rem;
                background: $home06 no-repeat;
                background-size: 100% 100%;
                position: absolute;
                left: 50%;
                transform: translate(-50%,0);
                box-sizing: border-box;
                i{
                    position: absolute;
                    margin-left: 0.1rem;
                    left: 0;
                    top: 50%;
                    transform: translate(-30%,-50%);
                    text-align: left;
                    left: 0.240741rem;
                    display: inline-block;
                    width: .4rem;
                    height: .33rem;
                    padding-right: 10px;
                    background: $gb no-repeat;
                    background-size: .4rem .33rem;
                }
                .autoOx{
                    border-radius:100px;
                    color: #fff;
                    width:100%;
                    height: 0.537037rem;
                    padding-left: .84rem;
                    span{
                        float: left;
                        font-size: 0.277778rem;
                        line-height: 0.555556rem;
                        // position: relative;
                        left: 0.648148rem;
                    }
                    
                }
            }
        }
    }
    // 底部
    footer {
        height: 2.5rem;
        font-size:0.462963rem;
        // background: #2B2B2B;
        z-index: 99;
        position: relative;
        img {
            width: 1.1rem;
            height: 1.1rem;
            position: absolute;
            left: 0.4rem;
            bottom: 0.6rem;
        }
    }
    // 代理
    .daili {
        border-radius: 0.277778rem;
        width: 8rem;
        height: 4.5rem;
        background: $daili no-repeat;
        background-size: 8rem 4.5rem;
        .escGame {
            font-size: .444444rem;
            color: #fff;
            line-height: .87037rem;
            text-align: center;
            position: absolute;
            top: 38%;
            left: 50%;
            transform: translate(-50%,-50%);
        }
        label.lab {
            width: 100%;
            // border: 1px solid #fff;
            position: absolute;
            top: 38%;
            left: 0;
            transform: translate(0%,-50%);
            height: .87037rem;
            padding: 0 .740741rem;
            box-sizing: border-box;
            span {
                font-size: .444444rem;
                color: #fff;
                line-height: .87037rem;
                float: left;
            }
            input {
                margin-left: 0.3rem;
                float: left;
                width: 4.351852rem;
                height: 100%;
                background: #6B64A7;
                border-radius: .08rem;
                border: 1px solid #877FCC;
                padding-left: .2rem;
                font-size: .351852rem;
                line-height: .87037rem;
                box-sizing: border-box;
                color: #fff;
            }
            input::-webkit-input-placeholder { 
                color: #8780C6;
            }
        }
        button {
        width: 3.305556rem;
        height: 1.018519rem;
        border-radius: 0.509259rem;
        border: 0 none;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%,-45%);
        background: $daili02 no-repeat;
        background-size: 3.305556rem 1.018519rem;
        }

    }


}
#mes_swi{
    .mint-switch {
        display: -webkit-box;
        display: -ms-flexbox;
        @include flexbox();
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        position: relative;
        width: 1.166667rem;
        height: 0.462963rem;
    }
    .mint-switch-label{
        position: absolute;
        left:0;
        top:0;
        height: 100%;
        width: 100%;
        margin: 0;
    }
    .onoff{
        width: 100%;
        position: absolute;
        left: 0;
        text-align: center;
        font-size: 22px;
        color: #FFFEE7;
        font-weight: 600;
        line-height: 0.462963rem;
    }
    .on{
        left: -0.277778rem;
    }
    .off{
        left: 0.1rem;
    }
    .mint-switch * {
        pointer-events: none;
    }
    .mint-switch-label {
        margin-left: 0.092593rem;
        display: inline-block;
    }
    .mint-switch-label:empty {
        margin-left: 0;
    }
    .mint-switch-core {
        display: inline-block;
        position: relative;
        width: 1.166667rem;
        height: 0.462963rem;

        border: 0.009259rem solid #d9d9d9;
        @include border-radius(0.277778rem);
        @include box-sizing();
        background: #817ABD;
    }
    .mint-switch-core::after, .mint-switch-core::before {
        content: " ";
        top: 0;
        left: 0;
        position: absolute;
        -webkit-transition: -webkit-transform .3s;
        transition: -webkit-transform .3s;
        transition: transform .3s;
        transition: transform .3s, -webkit-transform .3s;
        @include border-radius(0.138889rem);
    }
    .mint-switch-core::after {
        width: 0.462963rem;
        height: 0.462963rem;
        @include border-radius(50%);
        background-color: #D3DAF6;
        box-shadow: 0 0.009259rem 0.027778rem rgba(170,171,219, .4);
    }
    .mint-switch-core::before {
        width: 1.166667rem;
        height: 0.462963rem;
        @include border-radius(0.277778rem);
        background-color: #6F69A9;
    }
    .mint-switch-input {
        display: none;
    }
    .mint-switch-input:checked + .mint-switch-core {
        border-color: #9993D1;
        background-color: #595391;
    }
    .mint-switch-input:checked + .mint-switch-core::before {
        -webkit-transform: scale(0);
                transform: scale(0);
    }
    .mint-switch-input:checked + .mint-switch-core::after {
        -webkit-transform: translate(0.69rem,0);
                transform: translate(0.69rem,-0.01rem);
    }
}